* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: auto;
    background-color: white;


}

.main-left {
    width: 15vw;
    height: 100vh;
    background-color: rgb#DFDFDF;
    position: fixed;
}

.main-right {
    width: 100vw;
    height: 100vh;
    border: 2px solid black;

}

.main-right img {
    margin-left: 44%;
    margin-top: 10%;
}

header button {
    width: 100%;
    height: 33.33%;
}

header button:hover {
    width: 100%;
    height: 33.33%;
    background-color: #808080;
}

header button img {
    width: 60%;
}

section {
    width: 100vw;
    height: auto;
    background-color: white;
    display: flex;
}

.section-left {
    width: 15vw;
    height: 100vh;
    background-color: rgb#DFDFDF;
}

.section-right-01 {
    width: 85vw;
    height: 100vh;
    border: 2px solid black;
}

.cardStyle {
    display: inline-block;
    width: 11vw;
    height: auto;
    background-color: white;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 0;
    padding: 10px;
    border: 3px solid #DFDFDF;
}

.cardH1 {
    text-align: center;
    font-size: 2vw;
    padding-top: 10%;
}

.cardP {
    margin-left: 10%;
    font-size: 0.8vw;
    padding-bottom: 10%;
}

.section-right-02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: auto;
    border: 2px solid black;
}

.button-section-02 {
    width: 28vw;
    height: 10vh;
    margin-bottom: 60px;
}

.button-section-02 p {
    font-size: 2vw;
}

.section-right-03 {
    width: 85vw;
    height: auto;
    border: 2px solid black;

}

.background {
    width: 60vw;
    height: 80vh;
    margin-left: 12vw;
    margin-top: 10vh;
    background-color: #DFDFDF;
}

.background h1 {
    font-size: 4vw;
    margin-top: 8%;
    text-align: center;
}

.background form {
    text-align: center;
    font-size: 1.5vw;
}

.background button {
    width: 25vw;
    height: 5vh;
    font-size: 1vw;

}